



<div id="footermargin"></div>
<div id="footer">
    <div id="copyright"> &copy; 2017 - Aseel Al Dallal </div>
    <div id="myInfo">
        <div id="devNotes"><a href="#"><i class="fa fa-sticky-note" aria-hidden="true"></i>YelpCamp Dev Notes </a></div>
        <div id="github"><a href="https://github.com/Aseelaldallal"><i class="fa fa-github" aria-hidden="true"></i> Github </a></div>
        <div id="LinkedIn"><a href="https://www.linkedin.com/in/aseel-al-dallal-3842ab125/"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn </a></div>
        <div id="Contact"><a href="mailto:aseelaldallal@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i> Contact </a></div>
    </div>
</div>


</body>

</html>