<!DOCTYPE html>

<html>
    
    <head>
        <Title>Yelp Camp</Title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    </head>
    
    <% include ./navbar %>

    <div class="container">
        <% if(error && error.length > 0) { %> <!-- because error is not undefined -->
                <div class="alert alert-danger" role="alert"> 
                    <%= error %>
                </div>
        <% } %>
        
        <% if(success && success.length > 0) { %>
                <div class="alert alert-success" role="alert"> 
                    <%= success %>
                </div>
        <% } %>
    </div>
    
    
    <body>
     