
<% include ../partials/header %>

<script type="text/javascript" src="/js/registerForm.js"></script>


<div class="page container ">

    <div class="row">
        
        <div class="col-xs-1 col-sm-3"></div>
        <div class="col-xs-10 col-sm-6 registerForm">
            
            <% include ../partials/flash %>
            <div class="pageTitle">
                <h3><i class="fa fa-sign-in" aria-hidden="true"></i>Sign Up and Start Exploring!</h3>
            </div>
            
            <form action="/users" method="POST">
                <div class="form-group">
                    
                    <input id="username" class="form-control" type="text" name="username" placeholder="Username">
                    <div id="usernameError" name="usernameError" class="error hidden"></div>
                </div>
               <div class="form-group">
                 
                    <input id="email" class="form-control" type="text" name="email" placeholder="Email Address">
                    <div id="emailError" name="emailError" class="error hidden"></div>
                </div>
                <div class="form-group">
            
                    <input id="password" class="form-control" type="password" name="password" placeholder="Password">
                    <div id="passwordError" name="passwordError" class="error hidden"></div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-md btn-block">Submit</button>
                </div>
            </form>
            
            <div class="orSeperator"><span> OR </span></div>

            <a id="facebookButton" type="button" href="/users/auth/facebook" class="btn btn-facebook btn-md btn-block">
                <span class="icon"><i class="fa fa-facebook"></i></span>
                <span class="btn-text">Sign up with Facebook</span>
            </a>
        
            <a id="googleButton" type="button" href="#" class="btn btn-google btn-md btn-block">
                <span class="icon"><i class="fa fa-google" aria-hidden="true"></i></span>
                <span class="btn-text">Sign up with Google</span>
            </a>
            
        </div> <!-- End ofcolumn -->
        
        <div class="col-xs-1 col-sm-3"></div>
    </div> <!-- row end -->
    
</div>

<% include ../partials/footer %>

