.btn-custom {
  background-color: #db0404;
  border-color: #db0404;
  color: white;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #c20404;
  border-color: #a90303;
  color: white;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #db0404;
  border-color: #db0404;
}


.btn-tomato { 
  color: #FFFFFF; 
  background-color: #FF3B3F; 
  border-color: #ED373A; 
} 
 
.btn-tomato:hover, 
.btn-tomato:focus, 
.btn-tomato:active, 
.btn-tomato.active, 
.open .dropdown-toggle.btn-tomato { 
  color: #FFFFFF; 
  background-color: #F2383B; 
  border-color: #ED373A; 
} 
 
.btn-tomato:active, 
.btn-tomato.active, 
.open .dropdown-toggle.btn-tomato { 
  background-image: none; 
} 
 
.btn-tomato.disabled, 
.btn-tomato[disabled], 
fieldset[disabled] .btn-tomato, 
.btn-tomato.disabled:hover, 
.btn-tomato[disabled]:hover, 
fieldset[disabled] .btn-tomato:hover, 
.btn-tomato.disabled:focus, 
.btn-tomato[disabled]:focus, 
fieldset[disabled] .btn-tomato:focus, 
.btn-tomato.disabled:active, 
.btn-tomato[disabled]:active, 
fieldset[disabled] .btn-tomato:active, 
.btn-tomato.disabled.active, 
.btn-tomato[disabled].active, 
fieldset[disabled] .btn-tomato.active { 
  background-color: #FF3B3F; 
  border-color: #ED373A; 
} 
 
.btn-tomato .badge { 
  color: #FF3B3F; 
  background-color: #FFFFFF; 
}

.btn-sky { 
  color: #545454; 
  background-color: #CAEBF2; 
  border-color: #BFDEE3; 
} 
 
.btn-sky:hover, 
.btn-sky:focus, 
.btn-sky:active, 
.btn-sky.active, 
.open .dropdown-toggle.btn-sky { 
  color: #545454; 
  background-color: #bfdee3; 
  border-color: #BFDEE3; 
} 
 
.btn-sky:active, 
.btn-sky.active, 
.open .dropdown-toggle.btn-sky { 
  background-image: none; 
} 
 
.btn-sky.disabled, 
.btn-sky[disabled], 
fieldset[disabled] .btn-sky, 
.btn-sky.disabled:hover, 
.btn-sky[disabled]:hover, 
fieldset[disabled] .btn-sky:hover, 
.btn-sky.disabled:focus, 
.btn-sky[disabled]:focus, 
fieldset[disabled] .btn-sky:focus, 
.btn-sky.disabled:active, 
.btn-sky[disabled]:active, 
fieldset[disabled] .btn-sky:active, 
.btn-sky.disabled.active, 
.btn-sky[disabled].active, 
fieldset[disabled] .btn-sky.active { 
  background-color: #CAEBF2; 
  border-color: #BFDEE3; 
} 
 
.btn-sky .badge { 
  color: #CAEBF2; 
  background-color: #545454; 
}


.btn-warning { 
  color: #545454; 
  background-color: #9EE37D; 
  border-color: #96d678; 
} 
 
.btn-warning:hover, 
.btn-warning:focus, 
.btn-warning:active, 
.btn-warning.active, 
.open .dropdown-toggle.btn-warning { 
  color: #545454; 
  background-color: #96D678; 
  border-color: #96d678; 
} 
 
.btn-warning:active, 
.btn-warning.active, 
.open .dropdown-toggle.btn-warning { 
  background-image: none; 
} 
 
.btn-warning.disabled, 
.btn-warning[disabled], 
fieldset[disabled] .btn-warning, 
.btn-warning.disabled:hover, 
.btn-warning[disabled]:hover, 
fieldset[disabled] .btn-warning:hover, 
.btn-warning.disabled:focus, 
.btn-warning[disabled]:focus, 
fieldset[disabled] .btn-warning:focus, 
.btn-warning.disabled:active, 
.btn-warning[disabled]:active, 
fieldset[disabled] .btn-warning:active, 
.btn-warning.disabled.active, 
.btn-warning[disabled].active, 
fieldset[disabled] .btn-warning.active { 
  background-color: #9EE37D; 
  border-color: #96d678; 
} 
 
.btn-warning .badge { 
  color: #9EE37D; 
  background-color: #545454; 
}