

/*-------------------------------------------------------*/
/*-------------------- GLOBAL STYLES --------------------*/
/*-------------------------------------------------------*/

html {
  font-size: 10px;
  font-weight: 400;
  padding:0;
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  margin-bottom: 40px;
  background: #fbfdfd;
  color: dimgray;
}

h1, h2, h3, h4, h5, h6 { margin:0; padding: 0; }

h1 { font-size: 4.0rem; font-weight: 700; }
h2 { font-size: 3.5rem; font-weight: 700; }
h3 { font-size: 2.8rem; font-weight: 700; }
h4 { font-size: 2.3rem; font-weight: 700; }
h5 { font-size: 2.1rem; font-weight: 700; }
h6 { font-size: 1.9rem; font-weight: 700; }

@media (max-width: 480px) {
  h1 { font-size: 3.0rem; font-weight: 700; }
  h2 { font-size: 2.5rem; font-weight: 700; }
  h3 { font-size: 2.1rem; font-weight: 700; }
  h4 { font-size: 1.9rem; font-weight: 700; }
  h5 { font-size: 1.8rem; font-weight: 700; }
  h6 { font-size: 1.7rem; font-weight: 700; }
}

.page      { margin-top: 4rem;    }
.pageTitle { margin-bottom: 3rem; word-wrap: break-word; }
.inline    { display: inline;     }
.breakword { word-wrap: break-word; }
.thumbnail .caption { color: dimgray; }
.bottomed { margin-bottom: 1.5rem; }
.centeredText { text-align: center; } 


/*-------------------------------------------------------*/
/*---------------------- FRONT PAGE ---------------------*/
/*-------------------------------------------------------*/

.jumbotron {
  margin-top: -22px;
  background-color: #caebf2;
  color: #a9a9a9;
}

.jumbotron h1, h4 {
  margin-bottom:2rem;
}

.imagepins  {
  height: 350px;
}

.imgbackground {
   height: 200px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.imgAndCap {
  height: 275px;
}

.caption {
  word-wrap: break-word;
}
/*-------------------------------------------------------*/
/*--------------------- FORM STYLES ---------------------*/
/*-------------------------------------------------------*/

label.required:after {
    content:" *";
    margin-left: 0.5rem;
    color:rgb(219, 4, 4);
}

label {
    margin-bottom:1rem;    
}

.form-group {
    margin-bottom: 2.5rem;
}

.error, .tip {
    font-size: 1.3rem;
}

.error {
  margin-top: 0.5rem;
  color: rgb(206, 17, 0);
}

.error:before {
    font-family: FontAwesome;
    content: "\f071";
    margin-right: 1rem;
}

.errorBackground {
   background-color: rgba(248, 237, 237, 0.5) !important;
}

.tip {
  color: darkgreen;
}

.tip:before {
    font-family: FontAwesome;
    content: "\f05a";
    margin-right: 1rem;
}

#imageInput {
    width:100%;
    overflow: auto;
    padding: 6px 12px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#imageInput button:last-child {
  margin-right:0.6rem;
}

/*-------------------------------------------------------*/
/*---------------------- SHOW PAGE ----------------------*/
/*-------------------------------------------------------*/


.thumbnail {
    padding: 2rem;
}

.campgroundImage {
    margin-bottom: 2rem;
}

.profileImagePins  {
  height: 390px;
}

.thumbnail h6 {
  margin-bottom: 1rem;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .caption-full {
    padding-top: 10px;
    padding-bottom: 0px;
}

.map {
  height: 200px;
  width: 100%;
  margin: 1.5rem auto;
}

.well {
  background-color: #efefef;
}

hr.bold {
    border-bottom: 1px solid rgba(169,169,169,0.5);
    margin: 1rem 0 1rem 0;
}

.commenttext {
  margin-top: 0.7rem;
}

/*-------------------------------------------------------*/
/*------------------- FLASH MESSAGING -------------------*/
/*-------------------------------------------------------*/


.flash {
  padding: 0;
  margin-bottom: 2rem;
}

.flashSuccess, .flashError {
    padding: 1.5rem 2rem 1.5rem 2rem;
}

.flashSuccess {
  background: rgba(158,227,125,0.3);
  color: #a9a9a9;
}

.flashError {
  background: rgba(255,59,63,0.2);
  color: dimgray;
}

@media (max-width: 650px) {
  .flashSuccess, .flashError {
    padding: 1.2rem 2rem 1.2rem 2rem;
  }
}

/*-------------------------------------------------------*/
/*--------------------- USER PROFILE --------------------*/
/*-------------------------------------------------------*/


.nav-tabs {
  background-color: transparent;
  margin-bottom: 2rem;
}

.nav-tabs>li {
  width: 50%;
  text-align: center;
}

.nav-tabs>li>a {
  background-color:#F2383B ;
  color:#efefef;
  border: 1px solid #f1282b;
  margin: 0;
}

.nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
   color: #F2383B;
   background-color: #efefef;
   border: 1px solid #e7e7e7;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #F2383B;
    background-color: #efefef;
    cursor: default;
    border: 1px solid #e7e7e7;
}

#userProfileContent {
   height: 100%;
   overflow: auto;
   background-color: white;
}

.tab-content {
  overflow: auto;
  padding: 1rem;
}

/*-------------------------------------------------------*/
/*------------------------ FOOTER -----------------------*/
/*-------------------------------------------------------*/

#footer {
    background-color:  #caebf2;
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 3rem auto;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

#footermargin {
  height: 3rem;
}

#footer p {
  margin:  0;
}




.butt {
  background-color: pink;
  border: 2px solid green;
}