

/*-------------------------------------------------------*/
/*-------------------- GLOBAL STYLES --------------------*/
/*-------------------------------------------------------*/

html {
  font-size: 10px;
  font-weight: 400;
  padding:0;
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  margin-bottom: 40px;
  background: #fbfdfd;
  color: dimgray;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Lato', sans-serif; margin:0; padding: 0; }

h1 { font-size: 4.0rem; font-weight: 700; }
h2 { font-size: 3.5rem; font-weight: 700; }
h3 { font-size: 2.8rem; font-weight: 700; }
h4 { font-size: 2.3rem; font-weight: 700; }
h5 { font-size: 2.1rem; font-weight: 700; }
h6 { font-size: 1.9rem; font-weight: 700; }

@media (max-width: 480px) {
  h1 { font-size: 3.0rem; font-weight: 700; }
  h2 { font-size: 2.5rem; font-weight: 700; }
  h3 { font-size: 2.1rem; font-weight: 700; }
  h4 { font-size: 1.9rem; font-weight: 700; }
  h5 { font-size: 1.8rem; font-weight: 700; }
  h6 { font-size: 1.7rem; font-weight: 700; }
}

.page               { margin-top: 4rem;    }
.pageTitle          { margin-bottom: 3rem; word-wrap: break-word; }
.inline             { display: inline;     }
.breakword          { word-wrap: break-word; }
.thumbnail .caption { color: dimgray; }
.centeredText       { text-align: center; } 

hr { border-top: 1px solid #bdbdbd; }


a, a:visited, a:active  {
  text-decoration:  none;
  color: #4c9b4c;
} 

a:hover   {
  text-decoration: none;
  color: #428bca;
} 

.btn:visited {
  color:white;
}

.btn-warning {
  color: white!important;
}

.well {
  border-radius: 0;
}
/*-------------------------------------------------------*/
/*---------------------- FRONT PAGE ---------------------*/
/*-------------------------------------------------------*/


.jumbotron {
  background-image: url("/images/jumboBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -22px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom:0;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}


.jumbotron_box {
  width: 100%;
  text-align: center;
}

.jumbotron h1, h4 {
  color: white;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 1);
  margin-bottom:2rem;
}

/*-------------------------*/

.campgroundResultsHeading {
  text-align: center;
  margin: 2rem auto;
}

.campgroundResultsHeading h3 {
  margin: 0 auto 3rem auto;
}

.campgroundResultsHeading hr{
  margin-top: -0.5rem;
}

/*-------------------------*/

#country {
  width:430px;
  font-size: 1.76rem;
  height: 4rem;
  text-align: center;
}

.filterByCountry {
  padding: 2rem;
}

/*-------------------------*/

.loadMoreSection {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.loadMoreSection p {
  margin-bottom: 2.5rem;
  font-weight: 700;
}

/*-------------------------*/

.hrContainer {
  padding: 1rem;
  margin-top: 0rem;
}

/*-------------------------------------------------------*/
/*------------------- CAMPGROUND PINS -------------------*/
/*-------------------------------------------------------*/

.imagePins {
  /* border: 1px solid black;*/
   display: block;
   margin: 0.2rem;
   margin-bottom: 1rem;
   padding: 0.5rem;
   text-decoration:  none;
   color: dimgray;
   position: relative;
}

/*.imgbackground {
  border-radius: 15%;
}*/

.imagePinsLink {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}

.imagePins:visited, .imagePins:active {
  color:dimgray;
}

.overlay {     
   display: none;
}

.overlay i {
  font-size: 2rem;
  margin-top: 1rem;
  position: absolute;
  z-index: 100;
}

.groundDelete {
  color: #d9534f;
  top: 0;
  right: 1rem;
  cursor: pointer;
}

.groundEdit {
  color: #5bc0de ;
  margin-right: 0.7rem;
  top:0;
  right:3rem;
}

.groundDelete:hover, .groundEdit:hover {
   transform: scale(1.3);
}


.imagePins:hover {
  color: dimgray;
}

.imagePins:hover .overlay { 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    top: 0;
    left:0;
}



.imgbackground {
   height: 200px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.imgAndCap {
  height: 260px;
}

.caption {
  margin-top: 1rem;
  word-wrap: break-word;
  text-align: center;
}

#campgroundRatingDiv {
  margin-bottom: 3rem;
}

#rateCampgroundDiv p i {
  color: #4c9b4c;
}

/*-------------------------------------------------------*/
/*--------------------- DIALOG BOXES --------------------*/
/*-------------------------------------------------------*/

.modal_custom {
  border-radius: 0 !important;
}
.modal_custom .btn-success {
     margin-right: 0.8rem;
     margin-bottom: 1.5rem;
     
}
.modal_custom .btn-danger {
     margin-left: 0.8rem;
     margin-bottom: 1.5rem;
}
.modal_custom .swal2-warning {
    font-family: 'Lato', sans-serif;
    color: #d9534f;
    border-color: #d9534f;
    text-align: center;
}

/*-------------------------------------------------------*/
/*--------------------- FORM STYLES ---------------------*/
/*-------------------------------------------------------*/

label.required:after {
    content:" *";
    margin-left: 0.5rem;
    color:rgb(219, 4, 4);
}

label {
    margin-bottom:1rem;    
}

.form-group {
    margin-bottom: 2.5rem;
}

.error, .tip {
    font-size: 1.3rem;
}

.error {
  margin-top: 0.5rem;
  color: rgb(206, 17, 0);
}

.error:before {
    font-family: FontAwesome;
    content: "\f071";
    margin-right: 1rem;
}

.errorBackground {
   background-color: rgba(248, 237, 237, 0.5) !important;
}

.tip {
  color: darkgreen;
}

.tip:before {
    font-family: FontAwesome;
    content: "\f05a";
    margin-right: 1rem;
}

#imageInput {
    width:100%;
    overflow: auto;
    padding: 6px 12px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#imageInput button:last-child {
  margin-right:0.6rem;
}

.ratingNotifation {
  margin-top: 1.5rem;
  color: #398439;
}

/*-------------------------------------------------------*/
/*---------------- CAMPGROUND SHOW PAGE -----------------*/
/*-------------------------------------------------------*/

.campgroundInfo img {
    margin: 2rem auto 3.5rem auto;
}

.campgroundInfo p{
  margin-top:1rem;
  margin-bottom: 1rem;
}

.campgroundInfo i {
   margin-right: 2rem;
}

.map {
  height: 300px;
  width: 100%;
  margin: 2rem auto 3.5rem auto;
}

.well {
  margin-top:3rem;
  background-color: #efefef;
}


.commenttext {
  margin-top: 0.7rem;
}

.ratingSection {
  margin-top: 2rem;
}

.ratingSection:first-of-type {
  margin-top: 3rem;
}

.ratingTitle {
  font-weight: 700;
  margin-right: 1rem;
}

/*#avgRatingValue {
  margin-left: 1.5rem;
}
#averageRatingContainer {
  display: flex;
  flex-direction: row;
}

#averageRating {
  margin-right: 1.5rem;
  
}


#numRatingsContainer {
  margin: 0;
  padding-top: 0.2rem;
  font-size: 1.3rem;
  font-style: italic;
}*/

/*-------------------------------------------------------*/
/*------------------- FLASH MESSAGING -------------------*/
/*-------------------------------------------------------*/


.flash {
  padding: 0;
  margin-bottom: 2rem;
}

.flashSuccess, .flashError {
    padding: 1.5rem 2rem 1.5rem 2rem;
}

.flashSuccess {
  background: rgba(158,227,125,0.3);
  color: #a9a9a9;
}

.flashError {
  background: rgba(255,59,63,0.2);
  color: dimgray;
}

@media (max-width: 650px) {
  .flashSuccess, .flashError {
    padding: 1.2rem 2rem 1.2rem 2rem;
  }
}

/*-------------------------------------------------------*/
/*--------------------- USER PROFILE --------------------*/
/*-------------------------------------------------------*/

#userProfileContent {
   height: 100%;
   /*overflow: auto;*/
}

#userProfileContent ul {
  margin-bottom: 3rem;
}


.nav-tabs {
  background-color: transparent;
  margin-bottom: 2rem;
}

.nav-tabs>li {
  width: 50%;
  text-align: center;
}

.nav-tabs>li>a {
  background-color:lightgray ;
  color: gray;
  border: 1px solid #cccccc;
  opacity: 0.65;
  margin: 0;
  border-radius: 0;
}

.nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
   opacity: 1;
   background-color: #5cb85c;
   border: 1px solid #4cae4c;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: white;
    opacity: 1;
    background-color: #5cb85c;
    cursor: default;
    border: 1px solid #4cae4c;
}



.tab-content {
  overflow: auto;
  padding: 1rem;
}

.profileImagePins  {
  height: 430px;
}


/*-------------------------------------------------------*/
/*------------------------ FOOTER -----------------------*/
/*-------------------------------------------------------*/

#footermargin {
  height: 15rem;
}

#footer {
    background-color:  #bdbdbd;
    height: 150px;
    line-height: 3.5rem;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 3rem 0;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    border-top: 1px solid gray;
}

#footer i {
  margin-right: 1rem;
}

#myInfo {
    display: flex;
    justify-content: space-evenly;
    padding: 0 30%;
}

#footer a, #footer a:visited, #footer a:active  {
  text-decoration:  none;
  color: #489348;
} 

#footer a:hover {
  text-decoration: none;
  color: #428bca;
}

/*-------------------------------------------------------*/
/*-------------------- LOGIN/REGISTER -------------------*/
/*-------------------------------------------------------*/



.registerForm {
  background-color: white;
  border: 1px solid #e7e7e7;
  padding: 3rem;
  margin-top: 8%;
}


.registerForm h3 i {
  margin-right: 2rem;
}

.registerForm .form-group {
  margin-bottom: 1.5rem;
}

.textSeperator {
  text-align: center;
  font-weight: 700;
  margin-bottom: 2rem;
}

.orSeperator {
    display: block;
    text-align: center;
    border-bottom: 1px solid #e3e3e3;
    height: 12px;
    margin-top: 1em;
    margin-bottom: 1.5em;
    font-weight: 700;
}

.orSeperator span {
    display: inline-block;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: #fff;
}

.btn-facebook {
    border-bottom: 1px solid #37538d;
    border-top: 1px solid #3f5fa3;
    background: #3b5998;
    margin-bottom:1.5rem;
}

.btn-facebook:hover {
   background-color: #324c81;
   border: 1px solid #2b416e;
}

.btn-google {
    border-bottom: 1px solid rgb(171, 7, 26);
    border-top: 1px solid rgb(196, 8, 30);
    background: rgb(189, 8, 28);
}

.btn-google:hover {
  background-color:rgb(171, 7, 26);
  border: 1px solid rgb(122, 5, 19);
}

.btn-google .icon, .btn-facebook .icon {
    float: left;
    font-size: 1.6rem;
    border-right: 1px solid rgba(0,0,0,0.1);
    width: 8%;
    text-align: left;
    padding-left: 1rem;
}

.btn-google .btn-text, .btn-facebook .btn-text {
  margin-left: -8%;
}

.registerFormBackground {
  background-image: url("/images/registerFormBackground.jpg");
  background-size: cover;
  background-position: center;
}

.loginFormBackground {
  background-image: url("/images/loginFormBackground.jpg");
  background-size: cover;
  background-position: center;
}

.btn-google, 
.btn-facebook,
.btn-google:hover,
.btn-facebook:hover,
.btn-google:visited,
.btn-facebook:visited,
.btn-google:active,
.btn-facebook:active {
  color:white;
}
