
.navbar-default .navbar-brand {
    color: Gray;
    font-weight: 700;
    font-size: 2.5rem;
}

@media only screen and (max-width: 768px) {
    .navbar-default .navbar-brand {
        font-size: 2rem;
    }
}

.navbar-default {
    background-color: white;
}



.navbar-default .navbar-nav>li>a {
    color: Gray;
    font-weight: 700;
    font-size: 2rem;
}

@media only screen and (max-width: 768px) {
    .navbar-default .navbar-nav>li>a {
        font-size: 1.5rem;
    }
}


.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: white;
    background-color: #5cb85c;
}


.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(240, 66, 66, 1);
    background-color: rgba(251, 253, 253, 1);
}



.navbar-default .navbar-toggle {
    border-color: white;
}


.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fbfdfd;
}



