
<% include ../partials/header %>

 <header class = "jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp</h1>
            <h4>View our handpicked campgrounds from all over the world</h4>
            <a class="btn btn-tomato btn-md" href="/campgrounds/new"> Add New Campground</a>
        </div>
    </header>
    
<div class="page container">

    
    
   
    <% include ../partials/flash %>
    <h3>Our Most Popular Campgrounds!</h3>
    <hr>
    
    <div class="row">
        
        <% for(var i=0; i<16; i++) { %>
            <div class="col-md-3 col-sm-6">
                <% var ground = campgrounds[i]  %>
                <div class="imagepins thumbnail">
                    <div class="imgAndCap">
                        <div class="imgbackground" style="background-image: url('https://s3.ca-central-1.amazonaws.com/aseelyelpcamp/uploads/<%=ground.image%>');"></div>
                        <div class="caption">
                            <% var groundname = ground.name 
                                if(ground.name.length > 40) {
                                    groundname = groundname.substring(0,40) + "...";
                                }
                            %>
                            <p><%= groundname%></p>
                        </div> <!-- caption end-->
                    </div>
                    <a href="/campgrounds/<%= ground._id %>" class="btn btn-tomato btn-sm btn-block bottomaligned">More Info</a>
                </div> <!-- imagepins thumbnail end-->
            </div> <!-- Col end -->    

        <% } %>
        
        
        
    </div> <!-- row end -->
    <button id="loadMore" class="btn btn-tomato btn-sm btn-block bottomaligned">Load More</button>
    <script>
        $("#loadMore").on('click', function() {
            alert("fuck"); 
        });
    </script>
    
</div> <!-- Container End -->

<% include ../partials/footer %>
