<% include ../partials/header %>

<script type="text/javascript" src="/js/campgroundForm.js"></script>

    <div class="page container">
        <% include ../partials/flash %>
        <div class="row">
        
            <div class="pageTitle">
                <h2>Create a New Campground</h2>
            </div>
            
            <form action="/campgrounds" 
                  method="POST"  
                  enctype="multipart/form-data" 
                  novalidate >
        
                <!------------------ NAME ----------------->
                <div class="form-group">
                    <label for="campName" class="required">Campground Name</label>
                    <input id="campName" class="form-control" type="text" name="campName" placeholder="campground name ...">
                    <div id="campNameError" class="error hidden"></div>
                    <div id="campNameTip" class="tip hidden"> Remaining: <span id="campNameCharsLeft"></span></div>
                </div>
                
                <!---------------- LOCATION --------------->
                <div class="form-group">
                    <label for="location" class="required">Location</label>
                    <input name="location" type="text" class="form-control" id="location" placeholder="Start typing your address here">
                    <input name="mapCoord" id="mapCoord" type="hidden">
                    <input name="campgroundCountry" id="campgroundCountry" type="hidden">
                    <div id="locationError" class="error hidden"></div>
                </div>
                
                <!-------------- DESCRIPTION -------------->
                <div class="form-group">
                    <label for="desc" class="required">Description</label>
                    <textarea name="desc" class="form-control req" id="desc" rows="8" placeholder="Write something interesting ! " ></textarea>
                    <div id="descError" class="error hidden"></div>
                    <p id="descTip" class="tip hidden"> Remaining: <span id="descCharsLeft"></span></p>
                </div>
               
                <!----------------- IMAGE ----------------->
                <div class="form-group">
                    <label for="image" class="required">Image</label>
                    <input name="image" type="file" id="image" accept="image/*" style="display:none" onchange="handleFiles(this.files)">
                    <div id="imageInput">
                        <span id="fileName"></span>
                        <button id="fileRemove" class="btn btn-sky btn-xs pull-right">Remove Image</button>
                        <button id="fileSelect" class="btn btn-sky btn-xs pull-right">Upload Image</button>
                    </div>
                    <div id="imageError" class="error hidden"></div>
                </div>
                
                
                <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
                
                
            </form>

            
        </div>    

    </div><!-- Container End -->

<% include ../partials/footer %>

